
body {
    font-family: "Ubuntu", sans-serif;
    color: #a2d14b;
    margin: 0;
    padding: 0;
    background-color: black;
}

header {
    background: url("/static/spotify-logo.jpg") 40% 40%;
    font-family: "Ubuntu", sans-serif;
    color: #fff;
    padding: 300px;
}

h1{
    font-size: 80px;
    text-shadow: 2px 2px 4px white;
    text-align: center;

}

h2{
    font-size: 50px;
    text-shadow: 2px 2px 4px white;
    text-align: center;

}

li{
    list-style-type: none;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

.song-description, .song-ranking{
    font-size: 30px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

.login_reg{
    font-size: 20px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}



.auth{
    text-align: center;
    display: inline-block;
    justify-content: center;
    align-items: center;
    box-align: center;
    overflow: hidden;
    flex-direction: column;
    border: 2px solid #ccc;
    width: 740px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -border-radius: 10px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: #ffffff 2px 2px 4px;
    margin: 0 15px 15px 15px;
    padding: 20px;
    background: #000000;
    position: relative;
    margin-bottom: 35px;
    border-radius: 6px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.auth a:hover{
    color: tomato;
}

.auth:hover{
    box-shadow: 15px 15px 15px rgba(255, 255, 255, 0.3);
}

.auth  a{
    text-decoration: none;
    color:  #a2d14b;
    font-size: 14px;
    font-weight: 500;
}
